<component name="ArtifactManager">
  <artifact type="war" name="springContainer:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springContainer.war">
      <element id="artifact" artifact-name="springContainer:war exploded" />
    </root>
  </artifact>
</component>